@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .markdown-body h1 {
    @apply text-3xl;
    @apply text-title;
    @apply font-bold;
  }

  .markdown-body h2 {
    @apply text-2xl;
    @apply text-title;
    @apply font-bold;
  }

  .markdown-body h3 {
    @apply text-xl;
    @apply text-title;
    @apply font-bold;
  }

  .markdown-body h4 {
    @apply text-lg;
    @apply text-title;
    @apply font-bold;
  }

  .markdown-body ol {
    @apply list-decimal;
    @apply space-y-3;
  }

  .markdown-body ul {
    @apply list-disc;
    @apply space-y-3;
  }

  .markdown-body a {
    @apply text-hover;
    @apply transition-all;
    @apply duration-500;
    @apply decoration-transparent;
    @apply hover:underline;
    @apply hover:decoration-inherit;
    /* @apply hover:underline; */
  }

  .markdown-body code {
    @apply bg-slate-800;
  }

  /* stupid css pre block issues */
  pre {
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    min-width: stretch;
    max-width: 0;
  }

  .markdown-body code:not(pre) {
    @apply p-0.5;
  }

  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700;
    @apply rounded-md;
  }

  /* ... */
}

@keyframes floatUp {
  from {
    transform: translateY(3%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}